body {
    background: rgb(31, 30, 30);
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
img {
    width: 60px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}